h1,h2,h3,h4,h5 {
  font-family: $featuredFontFamily;
  font-weight: 400;
  color: $strongerPrimaryColor;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}