#{$all-text-inputs} {
  @include transition(all 0.5s);
  background-color: rgba(255, 255, 255, 1.0);
  border: none;
  box-shadow: inset 0 0 0 1px $outlineColor;
  text-shadow: none;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: left;
  padding: 2rem 3rem;
  color: #333;
  outline: none;
  line-height: 18px;
  height: auto;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1px #DDD, 0 0 0px 1000px rgba(255, 255, 255, 1.0) inset;
}

@include placeholder {
  color: #AAA;
}

#{$all-text-inputs-focus} {
  box-shadow: inset 0 0 0 1px $primaryColor;
}

input[type="checkbox"] {
  border-radius: 20%;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: $primaryColor;
  box-shadow: 0 0 0 1px $strongerPrimaryColor;
  border: none;
  color: $strongerPrimaryColor;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 10;





  &:hover { background: $primaryColorHover }
  &:checked {
    background: lighten($primaryColor, 5%);

    &::before {
      width: 1rem;
      height: 1rem;
      position: absolute;
      content: '\2716';
      display: inline-block;
      font-size: 26.66667px;
      text-align: center;
      line-height: 1.4rem;
    }
  }
}