p {
  font-size: 1.6rem;
  color: $paragraphColor;
  color: #888;
  line-height: 3.2rem;
}

em {
  @extend p;
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
}

a {
  @extend p;
  cursor: pointer;
  color: $linkColor;
  border-bottom: 1px dotted $linkColor;
  text-decoration: none;

  &:hover {
    color: darken($linkColor, 5%);
  }
}