.candidate-options {
  @extend .application-row;

  .candidate-option {
    width: 50%;
    float: left;
    text-align: center;

    &:hover {
      background-color: #FCFCFC;
    }

    .vote {
      width: 20rem;
      margin-bottom: 4rem;
      max-width: 80%;
    }
  }
  #candidate-pt {
    .candidate-images {
      .candidate-photo {
        box-shadow: 0 0 0 0.8rem #FFF, 0 0 0 0.9rem #F22613;
      }
      .candidate-illustration {
        right: -1rem;
      }
    }
  }
  #candidate-psdb {
    box-shadow: -1px 0 0 0 #CCC;
    .candidate-images {
      .candidate-photo {
        box-shadow: 0 0 0 0.8rem #FFF, 0 0 0 0.9rem #446CB3;
      }
      .candidate-illustration {
        left: -1rem;
      }
    }
  }

  .candidate-name {
    @media screen and (max-width: 620px) {
      height: 8rem;
    }
    @media screen and (max-width: 420px) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }

  .candidate-party {
    @media screen and (max-width: 1110px) {
      height: 4rem;
    }
    @media screen and (max-width: 610px) {
      height: 6rem;
    }
    @media screen and (max-width: 420px) {
      height: 8rem;
      margin-top: 0;
    }
  }

  .vote-alternative {
    padding: 2rem 5%;
    float: left;
    width: 100%;
    text-align: center;
    box-shadow: 0 -1px 0 0 #CCC;

    &:hover {
      background-color: #FCFCFC;
    }
  }
}

#vote-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;

  #confirmation-content {
    border-radius: 1rem;
    width: 34rem;
    max-width: 94%;
    overflow-y: auto;
    max-height: 96%;
    display: block;
    background-color: #FFF;
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.5);
    @extend %center-align;

    #cancel-vote {
      position: fixed;
      top: 1rem;
      right: 1rem;
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      background-color: $featuredPrimaryColor;
      color: #FFF;
      text-align: center;
      font-weight: 700;
      font-size: 1.4rem;
      cursor: pointer;
    }

    .confirmation-title {
      width: 100%;
      line-height: 2.4rem;
      padding: 2rem 2rem 0 2rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .confirmation-actions {
      width: 100%;

      .action-legend {
        float: left;
        width: 90%;
        margin: 1rem 5% 2rem 5%;
        text-align: center;
        text-transform: uppercase;
        font-family: $featuredFontFamily;
        font-size: 0.9rem;
        color: #888;
      }

      .check-public-vote {
        width: 90%;
        margin: 0 5%;
        padding: 0 2rem;
        float: left;
        line-height: 5rem;
        cursor: pointer;
        border-radius: 4rem;
        box-shadow: 0 0 0 1px $strongerPrimaryColor;
        text-align: center;

        .label-text {
          display: inline-block;
          padding: 0;
          margin: 0;
          color: rgba(104, 173, 94, 1.0);
          vertical-align: middle;
          font-size: 1.6rem;
          font-family: $featuredFontFamily;
          color: $strongerPrimaryColor;
          margin-right: 1rem;
        }
      }

      .action {
        float: left;
        width: 90%;
        margin: 0 5%;

        .button {
          font-size: 1.4rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .facebook-login {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: #FFF;
      display: block;

      .login-content {
        @extend %vertical-align;
        width: 100%;
        padding: 2rem;
        text-align: center;
      }
    }

    .confirmation-success {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 20;
      display: block;
      text-align: center;
      background-color: #FFF;

      .view-results {
        width: 90%;
        margin: 0 5%;
      }

      #psdb-success {
        .success-title,
        .success-name,
        .success-party {
          color: $psdbColor;
        }

        .success-title {
          padding: 3rem 0 0.5rem 0;
          font-size: 2rem;
        }
        .success-name {
          font-size: 2.2rem;
          padding-top: 2rem;
        }
        .success-party {
          margin-bottom: 4rem;
        }
      }
      #pt-success {
        .success-title,
        .success-name,
        .success-party {
          color: $ptColor;
        }

        .success-title {
          padding: 3rem 0 0.5rem 0;
          font-size: 2rem;
        }
        .success-name {
          font-size: 2.2rem;
          padding-top: 2rem;
        }
        .success-party {
          margin-bottom: 4rem;
        }
      }
      #none-success {
        .success-title,
        .success-name,
        .success-party {
          color: $noneColor;
        }

        .success-title {
          padding: 3rem 0 0.5rem 0;
          font-size: 2rem;
        }
        .success-name {
          font-size: 2.2rem;
          padding-top: 2rem;
        }
        .success-party {
          margin-bottom: 4rem;
        }
      }
    }

  }
}

#confirmation-candidate-info {
  .vote-candidate {
    padding: 2rem;
    .candidate-images {
      width: 10rem;
    }
    .candidate-name {
      margin-top: 1rem;
      font-size: 2rem;
      line-height: 3rem;
    }
    .candidate-party {
      margin-top: 0;
      font-size: 1rem;
    }

    &.pt {
      .candidate-photo {
        box-shadow: 0 0 0 0.2rem #FFF, 0 0 0 0.3rem $ptColor;
      }
      .candidate-illustration {
        right: -0.5rem;
      }
    }

    &.psdb {
      .candidate-photo {
        box-shadow: 0 0 0 0.2rem #FFF, 0 0 0 0.3rem $psdbColor;
      }
      .candidate-illustration {
        right: -0.5rem;
      }
    }
  }
}