#home-intro {
  width: 100%;
  text-align: center;
  padding: 3rem;

  .intro-header {
    margin-bottom: 3rem;

    .intro-title {
      font-weight: 700;
      color: $featuredPrimaryColor;
      margin: 0;
    }
    .intro-subtitle {
      margin: 0;
    }
  }

  .intro-description {
    width: 90%;
    max-width: 84rem;
    margin: 0 auto;
    padding: 3rem 0;
  }
}

#home-illustration {
  width: 80%;
  max-width: 54rem;
  margin: 0 auto;
}

.call-to-action {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

#vote-steps {
  @extend .application-row;
  width: 100%;
  margin: 8rem 0;

  .step {
    @include span-columns(24);
    padding: 2rem;
    text-align: left;

    .step-icon {
      @include span-columns(6 of 24);
      text-align: center;
      padding-right: 2rem;

      @media screen and (min-width: 480px) {
        @include span-columns(4 of 24);
      }

      svg {
        path {
          fill: #888;
        }
      }
    }

    .step-content {
      @include span-columns(18 of 24);

      @media screen and (min-width: 480px) {
        @include span-columns(20 of 24);
      }

      .step-title {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #vote-steps {
    .step {
      @include span-columns(8);
      padding: 0 4%;

      .step-icon {
        @include span-columns(8 of 8);
        padding-bottom: 2rem;

        svg {
          width: 50%;
        }
      }

      .step-content {
        @include span-columns(24 of 24);
        text-align: center;
        .step-title {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  #vote-steps {
    .step {
      .step-icon {
        svg {
          width: 25%;
        }
      }
    }
  }
}