// Defines fonts variables
// ==========================================================================
$fallbackFontFamily: Helvetica, Arial, sans-serif;
$featuredFontFamily: 'Arvo', $fallbackFontFamily;
$defaultFontFamily: 'Open Sans', $fallbackFontFamily;