.centered-page-title {
  @extend .application-row;
  text-align: center;
  box-shadow: inset 0 -1px 0 0 #CCC;

  .page-title {
    line-height: 4rem;
    font-size: 3rem;
    padding: 1rem;
    @media screen and (max-width: 420px) {
      font-size: 2rem;
      line-height: 3rem;
      padding: 0.6rem;
    }
  }

  .page-subtitle {
    color: #888;
    font-size: 1.2rem;
    padding: 0 1rem 1rem 1rem;
  }
}